<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <h2> Affchier de text<span> {{title}} </span></h2>
  <button routerLink="/about">about</button>
  <button routerLink="/contact">contact</button>
  <router-outlet></router-outlet>
  <!--
   <app-contact></app-contact>
   <app-about></app-about>
  -->
</body>
</html>
